<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dália Login</title>
    <link rel="stylesheet" th:href="@{/Login/Login.css}">
</head>
<body>
<div class="lado_left">
    <img th:src="@{/Login/img/Dalia%202.0.png}" alt="Logo" class="LogoDalia">
    <h1>Cuidando de você<br>e de quem você ama</h1>
</div>
<div class="lado_direito">
    <div class="form-group lado_rigth">
        <h1 class="entrar">Entrar</h1>
    </div>
    <form action="/RealizaLogin" method="post">
        <div class="form-group">
            <input type="email" class="form-control" name="email" placeholder="Endereço de email" required>
            <input type="password" class="form-control-password" name="password" placeholder="Digite a senha" required>
            <label class="container">Lembrar Senha
                <input type="checkbox" name="rememberMe">
                <span class="checkmark"></span>
            </label>
        </div>
        <div class="botoes">
            <button type="submit" class="botaoLogin">Login</button>
            <a class="botaoCadastro" href="/cadastro">Cadastre-se</a>
        </div>
    </form>
    <div th:if="${error}" class="error-message">
        <p th:text="${error}"></p>
    </div>
</div>
</body>
</html>
