<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pesquisa</title>
  <link rel="stylesheet" th:href="@{/DaliaPerguntas/perguntas.css}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  <link rel="shortcut icon" th:href="@{/static/img/navbar/dália_secundario.png}">
  <style>
    .section {
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.4s ease;
      position: absolute;
      width: 100%;
    }

    .section.active {
      opacity: 1;
      pointer-events: auto;
      position: relative;
    }
  </style>
</head>
<body>
<form th:action="@{/salvar-pesquisa}" method="post" th:object="${pregnancyMonitoring}">
  <input type="hidden" name="idUser" th:value="${idUser}" />
  <div class="centraliza">
    <div id="section1" class="formulario section active">
      <div class="pergunta">
        <p>Você esta gravida?</p>
      </div>
      <ul class="perguntas">
        <li class="perguntas__btn">
          <label class="pergunta__label">
            <p class="pergunta__txt">Sim</p>
            <input class="B2" type="radio" th:field="*{isPregnant}" value="true"></label>
        </li>
        <li class="perguntas__btn">
          <label class="pergunta__label">
            <p class="pergunta__txt">Não</p>
            <input class="B2"  type="radio" th:field="*{isPregnant}" value="false"></label>
        </li>
      </ul>
      <button type="button" class="proximo">Avançar</button>
    </div>

    <!-- SECTION 2 -->
    <div id="section2" class="formulario section">
      <div class="pergunta">
        <button class="volta" type="button"><img th:src="@{/DaliaPerguntas/img/back-vector.svg}"></button>
        <p>Qual dia acontenceu a gestação?</p>
      </div>
      <div class="resposta">
        <input type="date" th:field="*{dayPregnancy}" id="dayPregnancy">
        <button type="button" class="proximo">Avançar</button>
      </div>
    </div>

    <!-- SECTION 3 -->
    <div id="section3" class="formulario section">
      <div class="pergunta">
        <button class="volta" type="button"><img th:src="@{/DaliaPerguntas/img/back-vector.svg}"></button>
        <p>Quantas semanas você esta?</p>
      </div>
      <div class="resposta">
          <input type="number" th:field="*{gestationWeeks}" min="1" max="43" placeholder="Ex: 2">
          <button type="button" class="proximo">Avançar</button>
      </div>
    </div>

    <!-- SECTION 4 -->
    <div id="section4" class="formulario section">
      <div class="pergunta">
        <button class="volta" type="button"><img th:src="@{/DaliaPerguntas/img/back-vector.svg}"></button>
        <p>Qual a expectativa de nascimento?</p>
      </div>
      <div class="resposta">
        <input type="date" th:field="*{expectedBirthDate}" id="expectedBirthDate">
        <input type="hidden" th:field="*{consultations}" value=" " >
        <button type="button" class="proximo">Avançar</button>
      </div>
    </div>
      <!-- SECTION 5 -->
    <div id="section5" class="formulario section hidden">
      <div class="ultima__pag">
        <p>Obrigada por nos ajudar a<br>te entender melhor!</p>
        <button class="volta B4"><img th:src="@{/DaliaPerguntas/img/back-vector.svg}" alt=""></button>
      </div>
      <div class="enviar">
        <button type="submit" class="btn__enviar proximo">Enviar</button>
      </div>
    </div>

  </div>
</form>

<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script>

  document.addEventListener("DOMContentLoaded", () => {
    console.log("JS EM ADAEMNETJOJTGAT")
    flatpickr("#dayPregnancy", { dateFormat: "Y-m-d" });
    flatpickr("#expectedBirthDate", { dateFormat: "Y-m-d" });
  });

    const sections = document.querySelectorAll(".section");
    let current = [...sections].findIndex(sec => sec.classList.contains("active"));

    function showSection(index) {
      sections.forEach((sec, i) => {
        sec.classList.remove("active");
      });
      sections[index].classList.add("active");
      current = index;
    }

    document.querySelectorAll(".proximo").forEach(btn => {
      btn.addEventListener("click", () => {
        if (current < sections.length - 1) {
          let next = current + 1;
          showSection(next);
        }
      });
    });

    document.querySelectorAll(".volta").forEach(btn => {
      btn.addEventListener("click", () => {
        if (current > 0) {
          showSection(current - 1);
        }
      });
    });

</script>
</body>
</html>
